.App {
  text-align: center;
  color: white;
  background-color: #282c34;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  padding: 0 80px;
}
form {

}
form:hover {

}
input {
  padding: 5px 5px;
  border: 1px solid;
  border-radius: 5px;
  margin: 20px 5px 20px;
}
input:hover {
  background-color: orange;
}
button {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}
button:hover {
  background-color: orangered;
}
